<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1.0" />
<title>Spring-Boot-Grunt-Bower-Example</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />

<!-- use minified css for production profile -->
<link data-th-href="@{/css/materialize.min.css}"
	data-th-if="${#arrays.contains(@environment.getActiveProfiles(),'production')}"
	media="screen,projection" type="text/css" rel="stylesheet" />
<link data-th-href="@{/css/custom.min.css}"
	data-th-if="${#arrays.contains(@environment.getActiveProfiles(),'production')}"
	type="text/css" rel="stylesheet" media="screen,projection" />

<!-- use not-minified css for debug profile -->
<link data-th-href="@{/css/materialize.css}"
	href="../../../../bower_components/materialize/dist/css/materialize.css"
	data-th-if="${#arrays.contains(@environment.getActiveProfiles(),'debug')}"
	media="screen,projection" type="text/css" rel="stylesheet" />
<link data-th-href="@{/css/custom.css}" href="../static/css/custom.css"
	data-th-if="${#arrays.contains(@environment.getActiveProfiles(),'debug')}"
	type="text/css" rel="stylesheet" media="screen,projection" />

</head>
<body>
	<nav class="light-blue lighten-1" role="navigation">
		<div class="nav-wrapper container">
			<a id="logo-container" href="#" class="brand-logo">Logo</a>
			<ul class="right hide-on-med-and-down">
				<li><a href="#">Navbar Link</a></li>
			</ul>

			<ul id="nav-mobile" class="side-nav">
				<li><a href="#">Navbar Link</a></li>
			</ul>
			<a href="#" data-activates="nav-mobile" class="button-collapse"><i
				class="material-icons">menu</i></a>
		</div>
	</nav>
	<div class="section no-pad-bot" id="index-banner">
		<div class="container">
			<br></br>
			<h1 class="header center orange-text">Spring-Boot-Bower-Grunt</h1>
			<div class="row center">
				<h5 class="header col s12 light">Using Material Design based on Materialize! This template originates from their website:</h5>
			</div>
			<div class="row center">
				<a href="http://materializecss.com/getting-started.html"
					id="download-button"
					class="btn-large waves-effect waves-light orange">Get Started</a>
			</div>
			<br></br>

		</div>
	</div>


	<div class="container">
		<div class="section">

			<!--   Icon Section   -->
			<div class="row">
				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center light-blue-text">
							<i class="material-icons">flash_on</i>
						</h2>
						<h5 class="center">Spring Boot</h5>

						<p class="light">Using Spring Boot for super fast development.</p>
					</div>
				</div>

				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center light-blue-text">
							<i class="material-icons">grade</i>
						</h2>
						<h5 class="center">Material Design</h5>

						<p class="light">Using Materialize for a nice web UI</p>
					</div>
				</div>

				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center light-blue-text">
							<i class="material-icons">settings</i>
						</h2>
						<h5 class="center">Automated Build</h5>

						<p class="light">Using frontend-maven-plugin for managing the Maven build with npm, bower, and grunt</p>
					</div>
				</div>
			</div>

		</div>
		<br></br>

		<div class="section"></div>
	</div>

	<footer class="page-footer orange">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">Company Bio</h5>
					<p class="grey-text text-lighten-4">We are a team of college
						students working on this project like it's our full time job. Any
						amount would help support and continue development on this project
						and is greatly appreciated.</p>


				</div>
				<div class="col l3 s12">
					<h5 class="white-text">Settings</h5>
					<ul>
						<li><a class="white-text" href="#!">Link 1</a></li>
						<li><a class="white-text" href="#!">Link 2</a></li>
						<li><a class="white-text" href="#!">Link 3</a></li>
						<li><a class="white-text" href="#!">Link 4</a></li>
					</ul>
				</div>
				<div class="col l3 s12">
					<h5 class="white-text">Connect</h5>
					<ul>
						<li><a class="white-text" href="#!">Link 1</a></li>
						<li><a class="white-text" href="#!">Link 2</a></li>
						<li><a class="white-text" href="#!">Link 3</a></li>
						<li><a class="white-text" href="#!">Link 4</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				Made by <a class="orange-text text-lighten-3"
					href="http://materializecss.com">Materialize</a>
			</div>
		</div>
	</footer>


	<!-- use minified scripts for production profile -->
	<script data-th-src="@{/js/jquery.min.js}"
		data-th-if="${#arrays.contains(@environment.getActiveProfiles(),'production')}"></script>
	<script data-th-src="@{/js/materialize.min.js}"
		data-th-if="${#arrays.contains(@environment.getActiveProfiles(),'production')}"></script>
	<script data-th-src="@{/js/custom.min.js}"
		data-th-if="${#arrays.contains(@environment.getActiveProfiles(),'production')}"></script>

	<!-- use not minified scripts for debug profile-->
	<script data-th-src="@{/js/jquery.js}" src="../../../../bower_components/jquery/dist/jquery.js"
		data-th-if="${#arrays.contains(@environment.getActiveProfiles(),'debug')}"></script>
	<script data-th-src="@{/js/materialize.js}" src="../../../../bower_components/materialize/dist/js/materialize.js"
		data-th-if="${#arrays.contains(@environment.getActiveProfiles(),'debug')}"></script>
	<script data-th-src="@{/js/custom.js}" src="../static/js/custom.js"
		data-th-if="${#arrays.contains(@environment.getActiveProfiles(),'debug')}"></script>

</body>
</html>